body {
  background: #7ea3e4;
}

.container {
  max-width: 400px;
}

h1 {
  font-size: 2.2rem;
}

.form-control {
  border-radius: 50px;
}

div.card {
  border-radius: 50px;
  border: none;
}

img {
  background-color: #ffffff;
}